.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .text-danger {
    color: darkred;
  }
  
  .text-black {
    color: black;
  }
  
  .text-bold {
    font-weight: bold; 
  }
  
  hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: black; /* old IE */
    background-color: black; /* Modern Browsers */
  }

  .container span {
    display: inline-block;
  }

  .input-size-200 {
    width:200px;
  }

  textarea {
    width:100%;
  }
  
  .div-spacing-small {
    padding-bottom: 0px;
  }

  .div-height {    
    height: 20px;
  }